# Mastodon API Credentials
MASTODON_API_URL=https://mastodon.yourserver # Replace with your Mastodon instance URL
MASTODON_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxx  # Replace with your actual access token

# Flask Configuration
FLASK_ENV=development  # Change to 'development' for local testing

# Server Configuration
HOST=0.0.0.0
PORT=5050
DEBUG=False  # Change to True for debugging